# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Tests y cobertura
.pytest_cache/
.coverage
htmlcov/

# IDEs / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
